h1{color: darkred;}
p{width: 200px;height:80px;background-color: blue;color: gold;font-size: larger;font-weight: bolder;align-content: center;}
button{width: 200px; height:30px; background-color: deeppink; color: floralwhite;}
